<div class="dashboard-container">
  <div *ngIf="loading$ | async" class="text-center text-lg font-semibold">
    Loading data...
  </div>

  <div class="error-message-container" *ngIf="error$ | async">
    <span class="error-message">{{
      (error$ | async).error.status.error_message
    }}</span>
  </div>

  <div *ngIf="!(error$ | async)">
    <div class="search-tab">
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Search..."
        type="text"
      />
    </div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
      <ng-container *ngFor="let item of displayedColumns">
        <ng-container matColumnDef="{{ item }}">
          <mat-header-cell
            *matHeaderCellDef
            class="bg-gray-200 text-left px-4 py-2"
          >
            {{ item }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="border-b">
            {{ element[item] }}
          </mat-cell>
        </ng-container>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="totalPages"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      class="mt-4"
    ></mat-paginator>

    <!-- Chart -->
    <div id="chartContainer" class="w-full h-96 mt-4"></div>
  </div>
</div>
